{{ header }}

<style>
    .tabs__item 
    {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 35px;
        padding: 5px;
        border-radius: 4px;
        background: whitesmoke;
    }
    .tabs__item-image
    {
        width: 50%;
    }
    .tabs__item-image > img
    {
        width: 100%;
        max-height: 290px;
        height: 100%;
        object-fit: cover;
    }

    .tabs__item-text
    {
        padding: 0 20px;
    }

    .tabs__item-title.heading
    {
        font-weight: 600;
        font-size: 28px;
        color: black;
    }
    
    .tabs__head
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 10px;
    }

    .tabs__head-label
    {
        color: black;
        font-weight: 600;
        font-size: 15px;
    }

    .tabs__item-button
    {
        margin-top: auto;
    }

    .tabs__item-button > .link
    {
        color: #333333;
        text-decoration: none;
        font-weight: 700;
    }
</style>
<div class="content-block p-3 p-md-4 mobile-no-radius content-block-text no-hover-shadow">
    <main>
        <div class="layout widget-type_system_widget_v4_delimeters"
            style="--delimeter-type:solid; --border-size:3px; --layout-wide-bg:true; --layout-pt:0vw; --layout-pb:0vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;">
            <div class="layout__content">
                <div class="delimeter">
                    <div class="delimeter_line"></div>
                </div>

            </div>
        </div>


        <div class="layout widget-type_system_widget_v4_breadcrumbs_1"
            style="--delemeter:2; --align:start; --breadcrumb-color:#333333; --breadcrumb-color-is-dark:true; --breadcrumb-color-minor-shade:#474747; --breadcrumb-color-minor-shade-is-dark:true; --breadcrumb-color-major-shade:#5c5c5c; --breadcrumb-color-major-shade-is-dark:true; --breadcrumb-color-half-shade:#999999; --breadcrumb-color-half-shade-is-dark:true; --layout-wide-bg:false; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;">
            <div class="layout__content">


                <div class="breadcrumb-wrapper delemeter_2"><span
                        style="color: black; font-weight: 700; font-size: 33px;">Доставка і оплата</span><br></div>
            </div>
        </div>


        <div class="layout widget-type_system_widget_v4_page_content_1"
            style="--layout-wide-bg:false; --layout-pt:0vw; --layout-pb:2vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;">
            <div class="layout__content">
                <div class="static-text">
                    <p>Доставка здійснюється у всі регіони України службою доставки <strong>"Нова Пошта"</strong> за
                        рахунок
                        отримувача.</p>
                    <h3>Адресна доставка</h3>
                    <p>Також можлива адресна доставка з допомогою кур'єрської служби "Нова пошта". Для цього необхідно в
                        коментарі до замовлення вказати адресу доставки.</p>
                    <p><strong>Оплата можлива двома способами:</strong></p>
                    <ul>
                        <li>Післяплатою при замовленні з доставкою "Нова Пошта" (комісія за послуги з переказу коштів
                            Продавцю оплачується Покупцем при отриманні замовлення у відділенні "Нової Пошти").</li>
                        <li>Безготівкова оплата за допомогою банківської карти через систему платежів LiqPay.&nbsp;</li>
                    </ul>
                    <h2>Контакти відділу продажів:</h2>
                    <p>(з 10:00 до 18:00 по буднях)</p>
                    <p>+38 (093) 789-38-00</p>
                    <p>Згідно з чинним законодавством України, друковані видання поверненню та обміну не підлягають.</p>
                    <p>ПОСТАНОВА КАБІНЕТУ МІНІСТРІВ УКРАЇНИ від 19 березня 1994 р. N 172 "Про реалізацію окремих
                        положень
                        Закону України <br>"Про захист прав споживачів".</p>
                </div>

            </div>
        </div>


        <div class="layout widget-type_system_widget_v4_shops"
            style="--img-position:left; --img-fit:cover; --img-ratio:2; --img-size:50%; --align-content:center; --hide-button:false; --layout-wide-bg:true; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;">
            <div class="layout__content">

                <div class="tabs">
                    <div id="tab-15726451" class="tabs__item">
                        <div class="tabs__item-image">
                            <img data-src="https://static.insalescdn.com/r/SNKkBlBYZeU/rs:fit:1408:0:1/q:100/plain/files/1/7252/17292372/original/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2020-06-04_15-30-00_3e3df62df742f59cbd31ca64a993b4fb.jpg"
                                class="lazyload entered loaded" data-ll-status="loaded"
                                src="https://static.insalescdn.com/r/SNKkBlBYZeU/rs:fit:1408:0:1/q:100/plain/files/1/7252/17292372/original/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2020-06-04_15-30-00_3e3df62df742f59cbd31ca64a993b4fb.jpg">
                        </div>
                        <div class="tabs__item-text">
                            <div class="tabs__item-title heading">
                                КИЇВ
                            </div>
                            <div class="tabs__head">

                                <div class="tabs__head-item" data-tabs-item="tab-15726451">

                                    <div class="tabs__head-label">ТРЦ «Dream Town» (перша лінія)</div>
                                </div>

                                <div class="tabs__head-item " data-tabs-item="tab-15726486">

                                    <div class="tabs__head-label">ТРЦ «Lavina Mall»</div>
                                </div>

                                <div class="tabs__head-item " data-tabs-item="tab-15726465">

                                    <div class="tabs__head-label">ТРЦ «Dream Town» (вторая линия)</div>
                                </div>

                                <div class="tabs__head-item " data-tabs-item="tab-15726522">

                                    <div class="tabs__head-label">ТРЦ «ART Mall»</div>
                                </div>

                                <div class="tabs__head-item" data-tabs-item="tab-15726601">

                                    <div class="tabs__head-label">ТРЦ «Cosmopolite MULTIMALL»</div>
                                </div>

                                <div class="tabs__head-item" data-tabs-item="tab-15726618">

                                    <div class="tabs__head-label">ТРЦ «Аладдін»</div>
                                </div>

                                <div class="tabs__head-item" data-tabs-item="tab-15726648">

                                    <div class="tabs__head-label">ТРЦ «РайON»</div>
                                </div>

                                <div class="tabs__head-item is-active" data-tabs-item="tab-15726665">

                                    <div class="tabs__head-label">ТРЦ «Квадрат»</div>
                                </div>

                            </div>

                            <div class="tabs__item-content">
                                <p><span style="color: #993366;"><strong>пр. Оболонський, 1-Б</strong></span></p>
                                <p><span style="color: #993366;"><strong>3 поверх, навпроти "Пузата
                                            Хата"</strong></span>
                                </p>
                                <p><span style="color: #993366;"><strong>Робочі часи: з 10:00 до 22:00</strong></span>
                                </p>
                            </div>

                            <div class="tabs__item-button">
                                <a href="https://valliza-book.com.ua/page/dream1?lang=ua" target="_blank"
                                    class="link">Подивитись на карті
                                    <span class="icon-arrow-right">
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div id="tab-15755056" class="tabs__item">
                        <div class="tabs__item-image">
                            <img data-src="https://static.insalescdn.com/r/Lo2WYK_p1eg/rs:fit:1408:0:1/q:100/plain/files/1/346/17293658/original/001.jpg"
                                class="lazyload entered loaded" data-ll-status="loaded"
                                src="https://static.insalescdn.com/r/Lo2WYK_p1eg/rs:fit:1408:0:1/q:100/plain/files/1/346/17293658/original/001.jpg">
                        </div>
                        <div class="tabs__item-text">
                            <div class="tabs__item-title heading">
                                ХАРКІВ
                            </div>
                            <div class="tabs__head">

                                <div class="tabs__head-item is-active" data-tabs-item="tab-15755056">

                                    <div class="tabs__head-label">ТЦ "Восторг" (Клочківська)</div>
                                </div>

                                <div class="tabs__head-item " data-tabs-item="tab-16568475">

                                    <div class="tabs__head-label">ТЦ "Класс" на Гагаріна</div>
                                </div>

                                <div class="tabs__head-item " data-tabs-item="tab-17064171">

                                    <div class="tabs__head-label">ТЦ "Класс" на Холодній горі</div>
                                </div>

                                <div class="tabs__head-item " data-tabs-item="tab-17519050">

                                    <div class="tabs__head-label">ТЦ "Класс" на Індустріальній</div>
                                </div>

                            </div>

                            <div class="tabs__item-content">
                                <p><span style="color: #993366;"><strong>вул. Клочківська, 134-Б</strong></span></p>
                                <p><span style="color: #993366;"><strong>2 поверх</strong></span></p>
                                <p><span style="color: #993366;"><strong>Робочі часи: з 10:00 до 20:00 без
                                            вихідних</strong></span></p>
                            </div>

                            <div class="tabs__item-button">
                                <a href="https://valliza-book.com.ua/page/vost-kl?lang=ua" target="_blank"
                                    class="link ">Подивитись на карті
                                    <span class="icon icon-arrow-right">
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div id="tab-15755317" class="tabs__item">
                        <div class="tabs__item-image">
                            <img data-src="https://static.insalescdn.com/r/M7wtkHvWXmU/rs:fit:1408:0:1/q:100/plain/files/1/539/17293851/original/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2020-06-04_16-17-081.jpg"
                                class="lazyload entered loaded" data-ll-status="loaded"
                                src="https://static.insalescdn.com/r/M7wtkHvWXmU/rs:fit:1408:0:1/q:100/plain/files/1/539/17293851/original/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2020-06-04_16-17-081.jpg">
                        </div>
                        <div class="tabs__item-text">
                            <div class="tabs__item-title heading">
                                ДНІПРО
                            </div>
                            <div class="tabs__head">

                                <div class="tabs__head-item is-active" data-tabs-item="tab-15755317">

                                    <div class="tabs__head-label">ТРЦ «Дафі»</div>
                                </div>

                            </div>

                            <div class="tabs__item-content">
                                <p><strong><span style="color: #993366;">Зоряний бульвар, 1-А</span></strong></p>
                                <p><strong><span style="color: #993366;">2 поверх, книжковий острів
                                            "VALLIZA"</span></strong></p>
                                <p><strong><span style="color: #993366;">Робочі часи: з 10:00 до 22:00</span></strong>
                                </p>
                            </div>

                            <div class="tabs__item-button">
                                <a href="https://valliza-book.com.ua/page/dn-dafi?lang=ua" target="_blank"
                                    class="link ">Подивитись на карті
                                    <span class="icon icon-arrow-right">
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div id="tab-15755400" class="tabs__item is-active">
                        <div class="tabs__item-image">
                            <img data-src="https://static.insalescdn.com/r/m8NPVaWVh4M/rs:fit:1408:0:1/q:100/plain/files/1/656/17293968/original/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2020-06-04_16-44-30.jpg"
                                class="lazyload entered loaded" data-ll-status="loaded"
                                src="https://static.insalescdn.com/r/m8NPVaWVh4M/rs:fit:1408:0:1/q:100/plain/files/1/656/17293968/original/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_viber_2020-06-04_16-44-30.jpg">
                        </div>
                        <div class="tabs__item-text">
                            <div class="tabs__item-title heading">
                                ПОЛТАВА
                            </div>
                            <div class="tabs__head">

                                <div class="tabs__head-item is-active" data-tabs-item="tab-15755400">

                                    <div class="tabs__head-label">ТРЦ "Екватор"</div>
                                </div>

                            </div>

                            <div class="tabs__item-content">
                                <p><span style="color: #993366;"><strong>вул. Ковпака, 26</strong></span></p>
                                <p><span style="color: #993366;"><strong>книжковий острів "VALLIZA"</strong></span></p>
                                <p><span style="color: #993366;"><strong>Робочі часи: з 10:00 до 22:00</strong></span>
                                </p>
                            </div>

                            <div class="tabs__item-button">
                                <a href="https://valliza-book.com.ua/page/pekvator?lang=ua" target="_blank"
                                    class="link ">Подивитись на карті
                                    <span class="icon icon-arrow-right">
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{{ footer }}